
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0B5345;
    height: 100vh;
    flex-direction: column;
}

#hands{
    display:flex;
    flex-direction:column-reverse;
    gap:25px;
}

#playerhand, #dealerhand{
    display:flex;
    margin: 5px;
    align-items: center;
    justify-content:center;
    flex-direction:row;
    gap:20px;
}

#playerhand img, #dealerhand img{
    height:25vh;
}

.buttons {
    height:150px;
    width:170px;
    font-size:50px;
}

#gamebuttons {
    justify-content:space-around;
}

p {
   font-size:25px;
   color:white;
}
